* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 152px 0px 151px 0px;
    width: 1440px;
    height: 800px;
    background-color: #D5E1EF;
}

.card {
    width: 320px;
    height: 497px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.qr-code {
    width: 160px;
    height: 160px;
    background-color: #00aaff;
    margin-bottom: 257;
    border-radius: 80;
}

.description {
    color: var(--Dark-Navy, #1F314F);
    text-align: center;
    width: 288px;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 700;
}
.description p {
    color: var(--Grey, #7D889E);
    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 400;
    width: 256px;
    letter-spacing: 0.188px;
}
